<!-- Dialog Template -->
<ng-template #dialogTemplate>
    <h2 mat-dialog-title>Update Your API</h2>
    <mat-dialog-content>
      <form [formGroup]="selectedApiForm" (ngSubmit)="onSave()" class="space-y-4">
        <!-- Project Name -->
        <div class="form-field-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Project Name</mat-label>
            <input matInput formControlName="projectName" required>
            <mat-error *ngIf="selectedApiForm.get('projectName')?.hasError('required')">
              Project Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
  
        <!-- API Name -->
        <div class="form-field-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>API Name</mat-label>
            <input matInput formControlName="apiName" required>
            <mat-error *ngIf="selectedApiForm.get('apiName')?.hasError('required')">
              API Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
  
        <!-- URL -->
        <div class="form-field-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>URL</mat-label>
            <input matInput formControlName="apiUrl" required>
            <mat-error *ngIf="selectedApiForm.get('apiUrl')?.hasError('required')">
              URL is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
  
        <!-- File Input -->
        <div class="form-field-container mt-4">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Import Postman Collection</mat-label>
            <input type="file" (change)="onFileSelected($event)" class="form-input">
          </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!selectedFile" (click)="onSubmit()">Save</button>
    </mat-dialog-actions>
  </ng-template>
  